<div class="col-sm-12 col-md-12">
    <div class="row">
     	<div class="col-sm-12 col-md-12">
			<form class="form-custom clearfix">
	        <div class="col-sm-4 col-md-4">                 
                <button class="btn btn-custom" type="button" data-toggle="modal" data-target="#addandedit" ng-click="clearForm()" upload-refresh>新增</button>
	        </div>
            </form>
        </div>
    </div>
    <table class="table table-striped table-bordered table-condensed index-center  table-costom">
        <thead>
        <tr>
            <th>序号</th>
            <th>银行</th>
            <th style="width:150px">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr class="rowlink" ng-repeat="item in limitArr">
            <td>{{current*limit+$index+1}}</td>
            <td>{{item.bankName}}</td>
            <td>
                <a href="javascript:" data-toggle="modal" data-target="#addandedit" upload-refresh="true" ng-click="edit(item)">修改</a>
                <a href="javascript:" data-toggle="modal" data-target="#remove" ng-click="todelete(item.bankId)">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div data-remote-paging="pager" data-refresh="refresh" data-current="current" data-total="total" data-data="limitArr" data-limit="limit" data-params="params"></div>
</div>

<!-- 增加修改  -->
<div class="modal fade" id="addandedit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">新增/修改</h4>
            </div>            
            <form name="editForm" class="form-horizontal" ng-submit="create(keye)" novalidate="novalidate">    
	            <div class="modal-body">
	                <div class="row">
	                  <div class="col-sm-12 col-md-12">
                        <div class="form-group">
			                <label class="col-lg-2 control-label">银行</label>
			                <div class="col-lg-3">
			                    <input type="text" class="form-control" required ng-model="keye.bankName" ng-maxlength="50" ng-trim maxlength="50" />
			                </div>
			                <span class="mustItem">*</span>
                        </div>
	                  </div>
	                </div>
	            </div>
	            <div class="modal-footer">
	              <button type="reset" class="btn btn-default">重置</button>
	              <button type="submit" class="btn btn-primary" ng-disabled="editForm.$invalid">保存</button>
	              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	            </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 删除对话框 -->
<div class="modal fade" id="remove" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">删除</h4>
            </div>
            <div class="modal-body">
                                                     确认要删除么？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="comfirmDelete()" data-dismiss="modal">确认删除</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->