/*!
 * CSS - Module & Basic Layouts
 * Modify By Wang Ping
 * Date: 10-04-2014 16:34:48 (GMT Time)
 */
body { font-family:'Microsoft YaHei', Helvetica, Tahoma; color: #667279; font-size:14px; line-height: 1.25em; background:#FAFCFC; -webkit-text-size-adjust: none}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,input,select, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, a, textarea, input, button, span, em, strong, img, div { -webkit-touch-callout:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0.3)}
address, cite, dfn, em, var,b,sub,sup { font-style: normal }
code, kbd, pre, samp { font-family: courier new, courier, monospace }
h1, h2, h3, h4, h5, h6, button, input, select, textarea { font-size: 100% }
input,textarea,select{ font-family:"Microsoft YaHei",Helvetica,Arial,Verdana,sans-serif}
fieldset, img { border: 0 }
sup,sub { font-size:0.6em }
ul, ol { list-style: none }
table { border-collapse: collapse; border-spacing: 0 }
input{ outline: 0 }
textarea { -moz-outline: 0; outline: 0; overflow: auto; vertical-align: top; resize: none; -webkit-appearance: none }
img { vertical-align: middle }
iframe { margin: 0; padding: 0; border: 0; font-size: 100% }
a{color:#349cd8;text-decoration:none}
a:visited { color: #349cd8 }
a:hover { text-decoration:none}
.block { display: block }
.fl { float: left}
.fr { float: right }
.light-green { color: #18b160 }
.light-red { color: #d56363 }
.light-org { color: #FC8026 }
.light-blue { color: #349cd8 }
.light-gray { color: #9FABB2 }
.clear:after,#header:after,#footer:after,#wrap:after{ visibility: hidden; display: block; font-size: 0; content: "."; clear: both; height: 0; overflow: hidden }

/*layout*/
#header,#wrap,#footer{width: 100%; margin:0 auto;min-width:320px}
@media screen and (min-width: 1240px) {
#header,#wrap,#footer{max-width:640px}}
#header{font-size:16px; height:45px; background:#15456f; color:#fff; position:relative}
#wrap{ min-height:260px;background:#fff; overflow:hidden; zoom:1}
#footer { background:#FAFCFC; padding-bottom:15px; text-align:center; font-size:12px; color:#9FABB2; border-top:1px solid #E3E7E8}

/*icons & button*/
[class^="icon-"], [class*=" icon-"]{ display: inline-block; text-indent: -9999px; overflow: hidden; width: 20px; height: 20px; line-height: 20px; text-align: center; vertical-align: text-top; background: url(../img/sprites.png) no-repeat -100em -100em; background-size:230px 230px}
.icon-newer{ background-position:0 0}
.icon-plan{ background-position:-40px 0}
.icon-loan{ background-position:-20px 0}
.icon-transfer{ background-position:-60px 0}
.icon-safe{ background-position:0 -20px}
.icon-success{background-position:-40px -20px}
.icon-arrow-r{ background-position:0 -40px}
.icon-gu{background-position:0 -60px}
.icon-zhuan{background-position:-20px -60px}
.icon-jiang{background-position:0 -80px}
.icon-xin{background-position:-20px -80px}
.icon-zi{background-position:0 -100px}
.icon-ding{background-position:-20px -100px}
.icon-qiang{ background-position:-20px -20px; height:30px}
.icon-tips-right{ background-position:-40px -60px}

[class^="arrows-"], [class*=" arrows-"] {display:inline-block;width:0;height:0;vertical-align:top;border-width:5px;border-style:solid;border-color:transparent;overflow:hidden;content:""}
.arrows-up { border-bottom-color: #fff }
.arrows-right { border-left-color: #fff }
.arrows-down { border-top-color: #fff }
.arrows-left { border-right-color: #fff }
.arrows-up-in { border-bottom-color: #fff }
.arrows-right-in { border-left-color: #fff }
.arrows-down-in { border-top-color: #fff }
.arrows-left-in { border-right-color: #fff }

[class^="dot-"], [class*="dot-"]{ width:6px; height:6px; background:#224E73; border-radius:50%}

input, textarea, select, button { font: -webkit-small-control; color: initial; letter-spacing: normal; word-spacing: normal; text-transform: none; text-indent: 0px; text-shadow: none; display: inline-block; text-align: start}
input[type=number],input[type=text],input[type=password]{ height:30px; line-height:30px; color:#9FABB2;border:0; font-size:14px}
select{ height:35px; line-height:35px;font-size:12px; color:#667279; border:1px solid #E3E7E8; border-radius:5px;margin-bottom:4px; vertical-align:middle;-webkit-tap-highlight-color:rgba(0, 0, 0, 0); background:#fff}

input[type=checkbox],input[type=radio] {width: 15px;height: 15px; margin: 0;cursor: pointer;vertical-align: bottom;background: #fff;border: 1px solid #dcdcdc;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative}
input[type=checkbox]:hover {border-color: #c6c6c6;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);box-shadow: inset 0 1px 1px rgba(0,0,0,0.1)}
input[type=radio] {-webkit-appearance: none;appearance: none;-webkit-border-radius: 1em;-moz-border-radius: 1em;border-radius: 1em;width: 17px;height: 17px }
input[type=checkbox]:checked,input[type=radio]:checked {background: #fff}
input[type=radio]:checked::after {content: '';display: block;position: relative;top: 4px;left: 4px;width: 7px;height: 7px; background: #15456F;-webkit-border-radius: 1em;
-moz-border-radius: 1em; border-radius: 1em }

/*link touch*/
.link-touch{ border:1px solid #E3E7E8; border-right:0; border-left:0; margin-bottom:30px; position:relative; background:#fff;zoom:1}
.link-touch .items{ padding-left:20px}
.link-touch li{ height:45px;line-height:45px;border-top:1px solid #E3E7E8;position:relative; overflow:hidden}
.link-touch li:first-child{ border-top:0}
.link-touch .txt{ width:30%; float:left; color:#667279}
.link-touch .value{ width:65%; height:100%; line-height:inherit; border:0; padding:0;color:#000}
.link-touch .input{ width:65%; height:20px; line-height:20px;border:0; padding:12px 0 13px; color:#000}
.link-touch .activeipt{color:#000}
.link-touch .select{ width:70%; -webkit-touch-callout:none; color:#000}
.link-touch .icon-arrow-r{ position:absolute; top:50%; margin-top:-10px; right:10px}
.link-touch .light-org{ color:#F39B3B}
.link-touch .btn-recharge{height:24px; line-height:24px; text-align:center; position:absolute; right:15px; top:50%; margin-top:-12px}
.link-touch .errs{ color:#FC8026}


/*tips*/
.itip{ padding: 15px; color: #9FABB2 }
.vtip{ font-size: 12px; position: absolute; left: 20px; bottom: -25px }

