<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"

	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.idap.web.**.controller,com.phb.puhuibao.web.**.controller,com.phb.puhuibao.job">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Service" />
	</context:component-scan>
	<!--配置controller映射数据转换策略，还可使用高级自定义方式(RequestMappingHandlerMapping\RequestMappingHandlerAdapter)但需先删除此项 -->
	<mvc:annotation-driven conversion-service="conversionService" />
<!-- 	<bean name="startJob" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" autowire="no" lazy-init="false">
		<property name="triggers">
			<list>
				 <ref bean="redeemJob"></ref>
				<ref bean="addRateJob"></ref>
				<ref bean="redPacketJob"></ref>
				<ref bean="deleteUselessLuckyMoneyJob"></ref>
				<ref bean="lastIncomeJob"></ref>
			</list>
		</property>
	</bean>
	<bean name="redeemJob" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean" >
		<property name="jobDetail">
			<ref bean="invokeRedeemJob"></ref>
		</property>
		<property name="cronExpression">
			<value>0 0 15 * * ?</value>
		</property>
	</bean>
	<bean name="addRateJob" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean" >
		<property name="jobDetail">
			<ref bean="invokeAddRateJob"></ref>
		</property>
		<property name="cronExpression">
			<value>0 0 23 * * ?</value>
		</property>
	</bean>

	<bean name="redPacketJob" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean" >
		<property name="jobDetail">
			<ref bean="invokeRedPacketJob"></ref>
		</property>
		<property name="cronExpression">
			<value>0 10 23 * * ?</value>
		</property>
	</bean>
		<bean name="deleteUselessLuckyMoneyJob" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean" >
		<property name="jobDetail">
			<ref bean="invokedeleteUselessLuckyMoneyJob"></ref>
		</property>
		<property name="cronExpression">
			<value>0 0 22 * * ?</value>
		</property>
	</bean>
	<bean name="lastIncomeJob" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean" >
		<property name="jobDetail">
			<ref bean="invokeLastIncomeJob"></ref>
		</property>
		<property name="cronExpression">
			<value>0 0 0 * * ?</value>
		</property>
	</bean>
	<bean id="invokeRedeemJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="fredeemjob"></ref>
		</property>
		<property name="targetMethod">
			<value>redeem</value>
		</property>
	</bean>
	<bean id="invokeAddRateJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="faddRateJob"></ref>
		</property>
		<property name="targetMethod">
			<value>process</value>
		</property>
	</bean>
	<bean id="invokeRedPacketJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="fredPacketJob"></ref>
		</property>
		<property name="targetMethod">
			<value>process</value>
		</property>
	</bean>
	<bean id="invokedeleteUselessLuckyMoneyJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="fdeleteUselessLuckyMoneyJob"></ref>
		</property>
		<property name="targetMethod">
			<value>process</value>
		</property>
	</bean>
	<bean id="invokeLastIncomeJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="flastIncomeJob"></ref>
		</property>
		<property name="targetMethod">
			<value>process</value>
		</property>
	</bean>
	<bean id="fredeemjob" class="com.phb.puhuibao.job.RedeemJob"></bean>
	<bean id="faddRateJob" class="com.phb.puhuibao.job.AddRateJob"></bean>
	<bean id="fredPacketJob" class="com.phb.puhuibao.job.RedPacketJob"></bean>
	<bean id="fdeleteUselessLuckyMoneyJob" class="com.phb.puhuibao.job.deleteUselessLuckyMoneyJob"></bean>
	<bean id="flastIncomeJob" class="com.phb.puhuibao.job.LastIncomeJob"></bean> -->
	<!-- 自定义扩展属性数据类型转换扩展点 -->
	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<!-- bean class="com.idp.pub.web.converters.StringToDateConverter" /-->
				<bean class="com.idp.pub.web.converters.StringToDateTimeConverter" />
			</list>
		</property>
	</bean>
	<!-- url访问权限访问控制拦截器-->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/*/*.shtml" />
			<mvc:exclude-mapping path="/auth.shtml" />
			<mvc:exclude-mapping path="/report.shtml" />
			<mvc:exclude-mapping path="/userAccount/callback.shtml" />
			<mvc:exclude-mapping path="/userAccount/checkAccount.shtml" />
			<mvc:exclude-mapping path="/userAccount/checkAccountRefund.shtml" />
			<mvc:exclude-mapping path="/userAccount/notify.shtml" />
			<mvc:exclude-mapping path="/userAccount/webChatNotifyUrl.shtml" />
			<mvc:exclude-mapping path="/userAccount/alipayNotifyUrl.shtml" />
			<mvc:exclude-mapping path="/userAccount/refundNotify.shtml" />
			<mvc:exclude-mapping path="/userAccount/withdrawNotify.shtml" />
			<bean class="com.idp.security.web.interceptor.SecurityInterceptor">
			    <!-- List注入方式 -->
			     <property name="actions">
				     <list>
				         <!-- value>/userRedpacket/save.shtml</value-->
				         <!-- value>/userExperience/save.shtml</value-->
				         <!-- value>/userInformation/deleteMobileUser.shtml</value-->
				     </list>
			     </property>
			</bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/*/*.shtml" />
			<mvc:exclude-mapping path="/auth.shtml" />
			<bean class="com.idap.web.sysmgr.userlog.controller.LogInterceptor" init-method="init"/>
		</mvc:interceptor>
		<mvc:interceptor>
		   <mvc:mapping path="/auth.shtml" />
		   <bean class="com.idp.security.web.interceptor.UsersMonitorInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/*/*.shtml" />
			<mvc:exclude-mapping path="/auth.shtml" />
			<mvc:exclude-mapping path="/report.shtml" />
			<bean class="com.phb.puhuibao.web.interceptor.GaminoInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors> 
	<!-- 声明一个jsp视图解析器. -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:viewClass="org.springframework.web.servlet.view.JstlView" p:prefix="/"
		p:suffix=".jsp" p:order="5" />
	<!-- 声明一个json\xml视图解析器.后续可追加扩展其它 -->
	<bean name="xmlViewResolver" class="org.springframework.web.servlet.view.XmlViewResolver">
		<property name="location" value="/WEB-INF/spring-viewspace.xml"></property>
		<property name="order" value="0"></property>
	</bean>
	<!-- 声明一个文件上传解析器. -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxInMemorySize" value="10240" />
		<property name="maxUploadSize" value="-1" />
		<property name="defaultEncoding" value="utf-8"></property>
	</bean>
	<bean id="sendSMSController" class="com.phb.puhuibao.web.controller.SendSMSController">
		<property name="preURL" value="http://114.113.154.5/sms.aspx?action=send&amp;userid=1111&amp;account=xd000900&amp;password=xd00090001&amp;sendTime="></property>
		<property name="sign" value="【金朗理财】"></property>
	</bean>
</beans>